blocchi-impresa-ribz/src/main/xsd/blocchiImpresaBz-0.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.impresainungiorno.gov.it/schema/ribz"
    xmlns:ribz="http://www.impresainungiorno.gov.it/schema/ribz">
	<xs:element name="dati-identificativi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:tipi-procedure-concorsuali" minOccurs="0"/>
				<xs:element ref="ribz:forma-giuridica" minOccurs="0"/>
				<xs:element ref="ribz:indirizzo-localizzazione" minOccurs="0"/>
				<xs:element ref="ribz:indirizzo-posta-certificata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="f-sede-intercamerale" type="xs:string"/>
			<xs:attribute name="c-fonte" type="xs:string"/>
			<xs:attribute name="fonte" type="xs:string"/>
			<xs:attribute name="fonte-it" type="xs:string"/>			
			<xs:attribute name="fonte-de" type="xs:string"/>			
			<xs:attribute name="tipo-soggetto" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-soggetto" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-soggetto-it" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-soggetto-de" type="xs:string"/>			
			<xs:attribute name="tipo-impresa" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-impresa" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-impresa-it" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-impresa-de" type="xs:string"/>			
			<xs:attribute name="stato-impresa" type="xs:string"/>
			<xs:attribute name="stato-ditta" type="xs:string"/>			
			<xs:attribute name="f-aggiornamento" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="denominazione-it" type="xs:string"/>
			<xs:attribute name="denominazione-de" type="xs:string"/>			
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="altre-funzioni-sede" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="forma-giuridica">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>		    
				<xs:attribute name="c" type="xs:string"/>				
		</xs:complexType>
	</xs:element>
	<xs:element name="indirizzo-localizzazione">
		<xs:complexType>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="comune-it" type="xs:string"/>
			<xs:attribute name="comune-de" type="xs:string"/>			
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="via-it" type="xs:string"/>
			<xs:attribute name="via-de" type="xs:string"/>			
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="cap" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="stato-it" type="xs:string"/>
			<xs:attribute name="stato-de" type="xs:string"/>			
			<xs:attribute name="frazione" type="xs:string"/>
			<xs:attribute name="frazione-it" type="xs:string"/>
			<xs:attribute name="frazione-de" type="xs:string"/>			
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
			<xs:attribute name="altre-indicazioni-it" type="xs:string"/>
			<xs:attribute name="altre-indicazioni-de" type="xs:string"/>			
			<xs:attribute name="c-stradario" type="xs:string"/>
			<xs:attribute name="c-zona" type="xs:string"/>
			<xs:attribute name="f-sede-presso-terzi" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="legal-mail" type="xs:string"/>
	<xs:element name="sito-internet" type="xs:string"/>
	<xs:element name="telefax">
		<xs:complexType>
			<xs:attribute name="prefisso" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="telefono">
		<xs:complexType>
			<xs:attribute name="prefisso" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="telex" type="xs:string"/>
	<xs:element name="tipi-procedure-concorsuali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:tipo-procedura-concorsuale" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="cciaa-fuori-provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tipo-procedura-concorsuale">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c-tipo" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazione-facchinaggio">
		<xs:complexType>
			<xs:attribute name="c-fascia" type="xs:string"/>
			<xs:attribute name="fascia" type="xs:string"/>
			<xs:attribute name="c-volume" type="xs:string"/>
			<xs:attribute name="volume" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazione-impiantisti">
		<xs:complexType>
			<xs:attribute name="c-qualifica" type="xs:string"/>
			<xs:attribute name="qualifica" type="xs:string"/>
			<xs:attribute name="lettera" type="xs:string"/>
			<xs:attribute name="descrizione-lettera" type="xs:string"/>
			<xs:attribute name="lettere" type="xs:string"/>
			<xs:attribute name="limitazioni" type="xs:string"/>
			<xs:attribute name="f-tutte-attivita-impresa" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-accertamento" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazione-pulizia">
		<xs:complexType>
			<xs:attribute name="c-fascia" type="xs:string"/>
			<xs:attribute name="fascia" type="xs:string"/>
			<xs:attribute name="c-volume" type="xs:string"/>
			<xs:attribute name="volume" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazioni-impiantisti">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:abilitazione-impiantisti" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="c-riferimento-legge" type="xs:string"/>
			<xs:attribute name="riferimento-legge" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="accordi-debiti" type="xs:string"/>
	<xs:element name="addetti-impresa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:info-mesi" minOccurs="0"/>
				<xs:element ref="ribz:valori-medi" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="c-tipo-informazione" type="xs:string"/>
			<xs:attribute name="tipo-informazione" type="xs:string"/>
			<xs:attribute name="anno" type="xs:string"/>
			<xs:attribute name="dt-dichiarazione" type="xs:string"/>
			<xs:attribute name="dt-rilevazione" type="xs:string"/>
			<xs:attribute name="n-dipendenti" type="xs:string"/>
			<xs:attribute name="n-indipendenti" type="xs:string"/>
			<xs:attribute name="n-totale" type="xs:string"/>
			<xs:attribute name="c-rilevazione-dipendenti" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="albi-ruoli-licenze">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ribz:dati-artigiani" minOccurs="0"/>
				<xs:element ref="ribz:riconoscimenti-professionali" minOccurs="0"/>
				<xs:element ref="ribz:abilitazioni-impiantisti" minOccurs="0"/>
				<xs:element ref="ribz:abilitazione-pulizia" minOccurs="0"/>
				<xs:element ref="ribz:abilitazione-facchinaggio" minOccurs="0"/>
				<xs:element ref="ribz:ruoli" minOccurs="0"/>
				<xs:element ref="ribz:denunce-inizio-attivita" minOccurs="0"/>
				<xs:element ref="ribz:licenze" minOccurs="0"/>
				<xs:element ref="ribz:requisiti-morali-professionali" minOccurs="0"/>
				<xs:element ref="ribz:commercio-dettaglio" minOccurs="0"/>
				<xs:element ref="ribz:societa-cooperativa" minOccurs="0"/>
				<xs:element ref="ribz:assegnatari-marchio" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="annotazioni-procedure" type="xs:string"/>
	<xs:element name="apparecchi">
		<xs:complexType>
			<xs:attribute name="n-impastatrici" type="xs:string"/>
			<xs:attribute name="n-formatrici" type="xs:string"/>
			<xs:attribute name="n-grissinatrici" type="xs:string"/>
			<xs:attribute name="n-spezzatrici" type="xs:string"/>
			<xs:attribute name="n-laminatoi" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="appelli-reclami" type="xs:string"/>
	<xs:element name="assegnatari-marchio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:iscrizione" minOccurs="0"/>
				<xs:element ref="ribz:cancellazione" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atti-conferimento-cariche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:atto-conferimento-cariche" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-aa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:descrizioni" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-iscrizione-inizio" type="xs:string"/>
			<xs:attribute name="dt-inizio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-aa-bz">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:mestieri-aa" minOccurs="0"/>
				<xs:element ref="ribz:descrizioni" minOccurs="0"/>
				<xs:element ref="ribz:cancellazione-aa-bz" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-inizio" type="xs:string"/>
			<xs:attribute name="f-attivita-secondaria" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-agricola">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:descrizioni"/>
			</xs:sequence>
			<xs:attribute name="dt-inizio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="attivita-esercitata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>		    
		</xs:complexType>
	</xs:element>
	
	<xs:element name="attivita-prevalente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>		    
		</xs:complexType>
		
	</xs:element>
	<xs:element name="attivita-secondaria-esercitata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:descrizioni"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atto-conferimento-cariche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:cariche" minOccurs="0"/>
				<xs:element ref="ribz:proprieta-quota" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="p-gruppo-cariche" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bene-servizio">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="beni-servizi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:bene-servizio" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="blocchi-impresa" type="ribz:blocchi-impresa"/>
		<xs:complexType name="blocchi-impresa">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="ribz:dati-identificativi" minOccurs="0"/>
				<xs:element ref="ribz:info-sede" minOccurs="0"/>
				<xs:element ref="ribz:estremi-atto-costituzione" minOccurs="0"/>
				<xs:element ref="ribz:cancellazione-trasferimento" minOccurs="0"/>
				<xs:element ref="ribz:info-attivita" minOccurs="0"/>
				<xs:element ref="ribz:storia-attivita" minOccurs="0"/>
				<xs:element ref="ribz:storia-addetti" minOccurs="0"/>
				<xs:element ref="ribz:albi-ruoli-licenze" minOccurs="0"/>
				<xs:element ref="ribz:persone-sede" minOccurs="0"/>
				<xs:element ref="ribz:localizzazioni" minOccurs="0"/>
				<xs:element ref="ribz:mad" minOccurs="0"/>
				<xs:element ref="ribz:iscrizione-ri" minOccurs="0"/>
				<xs:element ref="ribz:info-statuto" minOccurs="0"/>
				<xs:element ref="ribz:procedure-concorsuali" minOccurs="0"/>
				<xs:element ref="ribz:variazioni-forma-giuridica" minOccurs="0"/>
				<xs:element ref="ribz:info-supplementari-storiche" minOccurs="0"/>
			</xs:choice>
			<xs:attribute name="DATA_INIZIO" type="xs:string"/>
			<xs:attribute name="DATA_FINE" type="xs:string"/>
			<xs:attribute name="ID_RICHIESTA" type="xs:string"/>
			<xs:attribute name="TIPO_UTENTE" type="xs:string"/>
			<xs:attribute name="F_UL_CESSATE" type="xs:string"/>
			<xs:attribute name="USO_INTERNO" type="xs:string"/>
			<xs:attribute name="SEL_TRASCRIZIONI" type="xs:string"/>
			<xs:attribute name="MAD_CON_TRAS" type="xs:string"/>
		</xs:complexType>
	
	<xs:element name="cancellazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:estremi-atto" minOccurs="0"/>
				<xs:element ref="ribz:info-cessazione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-cancellazione" type="xs:string"/>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt-cessazione-attivita" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-aa">
		<xs:complexType>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt-domanda-accertamento" type="xs:string"/>
			<xs:attribute name="dt-delibera" type="xs:string"/>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-aa-bz">
		<xs:complexType>
			<xs:attribute name="dt-effetto" type="xs:string"/>
			<xs:attribute name="dt-domanda-accertamento" type="xs:string"/>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-ruolo">
		<xs:complexType>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
			<xs:attribute name="dt-delibera" type="xs:string"/>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-trasferimento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:cancellazione" minOccurs="0"/>
				<xs:element ref="ribz:trasferimento-sede" minOccurs="0"/>
				<xs:element ref="ribz:trasferimento-sede-ul-attiva" minOccurs="0"/>
				<xs:element ref="ribz:info-altro-registro" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="caratteristiche-impianto-1">
		<xs:complexType>
			<xs:attribute name="quintali-potenza-nominale" type="xs:string"/>
			<xs:attribute name="tipo-riscaldamento" type="xs:string"/>
			<xs:attribute name="tipo-combustibile" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="caratteristiche-impianto-2">
		<xs:complexType>
			<xs:attribute name="quintali-potenza-nominale" type="xs:string"/>
			<xs:attribute name="tipo-riscaldamento" type="xs:string"/>
			<xs:attribute name="tipo-combustibile" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="carica">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>		    
					<xs:attribute name="p-carica" type="xs:string"/>
					<xs:attribute name="c-carica" type="xs:string"/>
					<xs:attribute name="dt-iscrizione" type="xs:string"/>
					<xs:attribute name="dt-iscrizione-libro-soci" type="xs:string"/>
					<xs:attribute name="dt-atto-nomina" type="xs:string"/>
					<xs:attribute name="dt-nomina" type="xs:string"/>
					<xs:attribute name="dt-fine" type="xs:string"/>
					<xs:attribute name="n-anni-esercizio" type="xs:string"/>
					<xs:attribute name="c-durata" type="xs:string"/>
					<xs:attribute name="descrizione-durata" type="xs:string"/>
					<xs:attribute name="dt-riferimento-bilancio" type="xs:string"/>
					<xs:attribute name="dt-presentazione" type="xs:string"/>				
		</xs:complexType>
	</xs:element>
	<xs:element name="cariche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:carica" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cessazione-esercizio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:note" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
			<xs:attribute name="dt-decorrenza" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cessazione-esercizio-provv" type="xs:string"/>
	<xs:element name="classificazione-ateco-2002">
		<xs:complexType>
			<xs:attribute name="c-attivita" type="xs:string"/>
			<xs:attribute name="attivita" type="xs:string"/>
			<xs:attribute name="c-importanza" type="xs:string"/>
			<xs:attribute name="importanza" type="xs:string"/>
			<xs:attribute name="importanza-it" type="xs:string"/>
			<xs:attribute name="importanza-de" type="xs:string"/>						
			<xs:attribute name="dt-inizio" type="xs:string"/>
			<xs:attribute name="user-inserimento" type="xs:string"/>
			<xs:attribute name="dt-inserimento" type="xs:string"/>
			<xs:attribute name="user-modifica" type="xs:string"/>
			<xs:attribute name="dt-modifica" type="xs:string"/>
			<xs:attribute name="corrispondenza-c-precedente" type="xs:string"/>
			<xs:attribute name="user-inserimento-precedente" type="xs:string"/>
			<xs:attribute name="user-modifica-precedente" type="xs:string"/>
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="classificazioni-ateco-2002">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:classificazione-ateco-2002" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="classificazione-ateco">
		<xs:complexType>
			<xs:attribute name="c-attivita" type="xs:string"/>
			<xs:attribute name="attivita" type="xs:string"/>
			<xs:attribute name="c-importanza" type="xs:string"/>
			<xs:attribute name="importanza" type="xs:string"/>
			<xs:attribute name="importanza-it" type="xs:string"/>
			<xs:attribute name="importanza-de" type="xs:string"/>						
			<xs:attribute name="dt-inizio" type="xs:string"/>
			<xs:attribute name="dt-riferimento" type="xs:string"/>
			<xs:attribute name="user-inserimento" type="xs:string"/>
			<xs:attribute name="dt-inserimento" type="xs:string"/>
			<xs:attribute name="user-modifica" type="xs:string"/>
			<xs:attribute name="dt-modifica" type="xs:string"/>
			<xs:attribute name="corrispondenza-c-precedente" type="xs:string"/>
			<xs:attribute name="user-inserimento-precedente" type="xs:string"/>
			<xs:attribute name="user-modifica-precedente" type="xs:string"/>
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="classificazioni-ateco">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:classificazione-ateco" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="c-codifica" type="xs:string"/>
			<xs:attribute name="codifica" type="xs:string"/>
			<xs:attribute name="codifica-it" type="xs:string"/>
			<xs:attribute name="codifica-de" type="xs:string"/>
			<xs:attribute name="c-fonte" type="xs:string"/>
			<xs:attribute name="fonte" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="commercio-dettaglio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:integrazione-informazioni" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-dichiarazione" type="xs:string"/>
			<xs:attribute name="superficie-vendita" type="xs:string"/>
			<xs:attribute name="c-settore-merceologico" type="xs:string"/>
			<xs:attribute name="settore-merceologico" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="continuazione-esercizio-provv" type="xs:string"/>
	<xs:element name="dati-artigiani">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:attivita-aa" minOccurs="0"/>
				<xs:element ref="ribz:informazioni-supplementari-aa" minOccurs="0"/>
				<xs:element ref="ribz:cancellazione-aa" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="dt-iscrizione-accertamento" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
			<xs:attribute name="dt-domanda-accertamento" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="dt-delibera" type="xs:string"/>
			<xs:attribute name="user-inserimento" type="xs:string"/>
			<xs:attribute name="dt-inserimento" type="xs:string"/>
			<xs:attribute name="user-modifica" type="xs:string"/>
			<xs:attribute name="dt-modifica" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dati-iscrizione-rea-rd">
		<xs:complexType>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-tipo-iscrizione" type="xs:string"/>
			<xs:attribute name="tipo-iscrizione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="denunce-inizio-attivita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:denuncia-inizio-attivita" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="denuncia-inizio-attivita">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="descrizione">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="user-inserimento" type="xs:string"/>
					<xs:attribute name="dt-inserimento" type="xs:string"/>
					<xs:attribute name="user-modifica" type="xs:string"/>
					<xs:attribute name="dt-modifica" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="descrizioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:descrizione" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="descrizioni-atto-costitutivo" type="xs:string"/>
	<xs:element name="domicilio-fiscale">
		<xs:annotation>
			<xs:documentation>Questo campo dal 31/03/2009 rappresenterà soltanto il domicilio (dichiarato al Registro Imprese), non il domicilio fiscale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="cap" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="frazione" type="xs:string"/>
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="esecuzione-concordato" type="xs:string"/>
	<xs:element name="esercizio-provvisorio" type="xs:string"/>
	<xs:element name="estremi-atto">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="notaio" type="xs:string"/>
			<xs:attribute name="tribunale" type="xs:string"/>
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
			<xs:attribute name="n-registrazione" type="xs:string"/>
			<xs:attribute name="dt-registrazione" type="xs:string"/>
			<xs:attribute name="localita-ufficio-registro" type="xs:string"/>
			<xs:attribute name="provincia-ufficio-registro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="estremi-atto-costituzione">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="n-repertorio" type="xs:string"/>
			<xs:attribute name="notaio" type="xs:string"/>
			<xs:attribute name="localita-notaio" type="xs:string"/>
			<xs:attribute name="provincia-notaio" type="xs:string"/>
			<xs:attribute name="n-registrazione" type="xs:string"/>
			<xs:attribute name="dt-registrazione" type="xs:string"/>
			<xs:attribute name="localita-ufficio-registro" type="xs:string"/>
			<xs:attribute name="provincia-ufficio-registro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="estremi-nascita">
		<xs:complexType>
			<xs:attribute name="dt" type="xs:string"/>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="comune-it" type="xs:string"/>
			<xs:attribute name="comune-de" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="stato-it" type="xs:string"/>
			<xs:attribute name="stato-de" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fallimento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:fallimento-in-proprio" minOccurs="0"/>
				<xs:element ref="ribz:fallimento-per-estensione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="p-fallimento" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fallimento-in-proprio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:estremi-nascita" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n-fallimento" type="xs:string"/>
			<xs:attribute name="dt-fallimento" type="xs:string"/>
			<xs:attribute name="tribunale" type="xs:string"/>
			<xs:attribute name="provincia-tribunale" type="xs:string"/>
			<xs:attribute name="n-sentenza" type="xs:string"/>
			<xs:attribute name="dt-sentenza" type="xs:string"/>
			<xs:attribute name="curatore" type="xs:string"/>
			<xs:attribute name="dt-chiusura" type="xs:string"/>
			<xs:attribute name="c-organo-giudiziario" type="xs:string"/>
			<xs:attribute name="organo-giudiziario" type="xs:string"/>
			<xs:attribute name="sesso" type="xs:string"/>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fallimento-per-estensione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:estremi-nascita" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n-fallimento" type="xs:string"/>
			<xs:attribute name="dt-fallimento" type="xs:string"/>
			<xs:attribute name="tribunale" type="xs:string"/>
			<xs:attribute name="provincia-tribunale" type="xs:string"/>
			<xs:attribute name="n-sentenza" type="xs:string"/>
			<xs:attribute name="dt-sentenza" type="xs:string"/>
			<xs:attribute name="curatore" type="xs:string"/>
			<xs:attribute name="dt-chiusura" type="xs:string"/>
			<xs:attribute name="c-organo-giudiziario" type="xs:string"/>
			<xs:attribute name="organo-giudiziario" type="xs:string"/>
			<xs:attribute name="sesso" type="xs:string"/>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="familiare-partecipe">
		<xs:complexType>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="f-coltivatore-diretto" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="familiari-partecipi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:familiare-partecipe" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="impresa-sociale">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:beni-servizi" minOccurs="0"/>
				<xs:element ref="ribz:settori-attivita" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n-lavoratori-svantaggiati" type="xs:string"/>
			<xs:attribute name="n-lavoratori-disabili" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="impresa-subentrante">
		<xs:complexType>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-ri" type="xs:string"/>
			<xs:attribute name="c-titolo-subentro" type="xs:string"/>
			<xs:attribute name="titolo-subentro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="impresa-subentrata">
		<xs:complexType>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
			<xs:attribute name="n-ri" type="xs:string"/>
			<xs:attribute name="c-titolo-subentro" type="xs:string"/>
			<xs:attribute name="titolo-subentro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="indirizzo">
		<xs:complexType>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="comune-it" type="xs:string"/>
			<xs:attribute name="comune-de" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="via-it" type="xs:string"/>
			<xs:attribute name="via-de" type="xs:string"/>
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="cap" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="frazione" type="xs:string"/>
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="indirizzo-posta-certificata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>					
				<xs:attribute name="c-nota" type="xs:string"/>
				<xs:attribute name="nota" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-altro-registro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:trasferimento-altro-registro" minOccurs="0"/>
				<xs:element ref="ribz:cancellazione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="cciaa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-attivita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:lavoro-prestato-familiari-part" minOccurs="0"/>
				<xs:element ref="ribz:familiari-partecipi" minOccurs="0"/>
				<xs:element ref="ribz:attivita-esercitata" minOccurs="0"/>
				<xs:element ref="ribz:attivita-secondaria-esercitata" minOccurs="0"/>
				<xs:element ref="ribz:attivita-aa-bz" minOccurs="0"/>
				<xs:element ref="ribz:attivita-agricola" minOccurs="0"/>
				<xs:element ref="ribz:classificazioni-ateco-2002" minOccurs="0"/>
				<xs:element ref="ribz:classificazioni-ateco" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ribz:attivita-prevalente" minOccurs="0"/>
				<xs:element ref="ribz:impresa-sociale" minOccurs="0"/>
				<xs:element ref="ribz:addetti-impresa" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="dt-inizio-attivita-impresa" type="xs:string"/>
			<xs:attribute name="dt-inizio" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-cessazione" type="xs:string"/>
	<xs:element name="info-generiche" type="xs:string"/>
	<xs:element name="info-localizzazione" type="xs:string"/>
	<xs:element name="info-mesi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:info-mese" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-mese">
		<xs:complexType>
			<xs:attribute name="c-mese" type="xs:string"/>
			<xs:attribute name="mese" type="xs:string"/>
			<xs:attribute name="n-dipendenti" type="xs:string"/>
			<xs:attribute name="n-indipendenti" type="xs:string"/>
			<xs:attribute name="n-totale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-non-documentata" type="xs:string"/>
	<xs:element name="info-sede">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:telefono" minOccurs="0"/>
				<xs:element ref="ribz:telex" minOccurs="0"/>
				<xs:element ref="ribz:telefax" minOccurs="0"/>
				<xs:element ref="ribz:indirizzo-posta-certificata" minOccurs="0"/>
				<xs:element ref="ribz:sito-internet" minOccurs="0"/>
				<xs:element ref="ribz:email" minOccurs="0"/>
				<xs:element ref="ribz:legal-mail" minOccurs="0"/>
				<xs:element ref="ribz:altre-funzioni-sede" minOccurs="0"/>
				<xs:element ref="ribz:dati-iscrizione-rea-rd" minOccurs="0"/>
				<xs:element ref="ribz:persona-giuridica-privata" minOccurs="0"/>
				<xs:element ref="ribz:sede-fuori-provincia" minOccurs="0"/>
				<xs:element ref="ribz:partita-iva" minOccurs="0"/>
				<xs:element ref="ribz:insegna" minOccurs="0"/>
				<xs:element ref="ribz:sede-secondaria-rs" minOccurs="0"/>
				<xs:element ref="ribz:provenienza-trasferimento" minOccurs="0"/>
				<xs:element ref="ribz:informazioni-supplementari" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="f-scritture-contabili" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-statuto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:oggetto-sociale" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-supplementari-storiche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:descrizioni-atto-costitutivo" minOccurs="0"/>
				<xs:element ref="ribz:notizie-storiche" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-visura" type="xs:string"/>
	<xs:element name="informazioni-supplementari">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ribz:poteri-congiunti" minOccurs="0"/>
				<xs:element ref="ribz:info-visura" minOccurs="0"/>
				<xs:element ref="ribz:info-generiche" minOccurs="0"/>
				<xs:element ref="ribz:info-localizzazione" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="informazioni-supplementari-aa" type="xs:string"/>
	
		<xs:element name="insegna">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>		    
		</xs:complexType>
	</xs:element>
	
	
	
	<xs:element name="integrazione-informazioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:tabelle-speciali" minOccurs="0"/>
				<xs:element ref="ribz:note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ribz:cessazione-esercizio" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-inserimento" type="xs:string"/>
			<xs:attribute name="dt-decorrenza" type="xs:string"/>
			<xs:attribute name="c-tipo-domanda" type="xs:string"/>
			<xs:attribute name="tipo-domanda" type="xs:string"/>
			<xs:attribute name="n-autorizzazione" type="xs:string"/>
			<xs:attribute name="dt-presentazione" type="xs:string"/>
			<xs:attribute name="c-comune-presentazione" type="xs:string"/>
			<xs:attribute name="comune-presentazione" type="xs:string"/>
			<xs:attribute name="provincia-presentazione" type="xs:string"/>
			<xs:attribute name="n-protocollo" type="xs:string"/>
			<xs:attribute name="c-struttura-esercizio" type="xs:string"/>
			<xs:attribute name="struttura-esercizio" type="xs:string"/>
			<xs:attribute name="mq-vendita-alimentare" type="xs:string"/>
			<xs:attribute name="mq-vendita-non-alimentare" type="xs:string"/>
			<xs:attribute name="mq-esercizio" type="xs:string"/>
			<xs:attribute name="centro-commerciale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="iscrizione">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="n-marchio" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="dt-assegnazione" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="iscrizione-ri">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:sezioni" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n-annotazione-ri" type="xs:string"/>
			<xs:attribute name="n-iscrizione-ri" type="xs:string"/>
			<xs:attribute name="n-c-fiscale" type="xs:string"/>
			<xs:attribute name="n-annotazione-ri-old" type="xs:string"/>
			<xs:attribute name="n-iscrizione-ri-old" type="xs:string"/>
			<xs:attribute name="provincia-ri" type="xs:string"/>
			<xs:attribute name="c-n-iscrizione-ri-old" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="dt-annotazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lavoro-prestato-familiari-part">
		<xs:complexType>
			<xs:attribute name="n-lavoratori-tempo-indeter" type="xs:string"/>
			<xs:attribute name="n-giornate" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="licenza">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:info-non-documentata" minOccurs="0"/>
				<xs:element ref="ribz:molini-panificatori" minOccurs="0"/>
				<xs:element ref="ribz:licenza-autorizzazione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="p-licenza" type="xs:string"/>
			<xs:attribute name="f-non-documentata" type="xs:string"/>
			<xs:attribute name="c-non-documentata" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="licenza-autorizzazione">
		<xs:complexType>
			<xs:attribute name="c-autorita-rilascio" type="xs:string"/>
			<xs:attribute name="autorita-rilascio" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="licenze">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:licenza" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="localizzazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:sotto-tipi" minOccurs="0"/>
				<xs:element ref="ribz:indirizzo-localizzazione" minOccurs="0"/>
				<xs:element ref="ribz:telefono" minOccurs="0"/>
				<xs:element ref="ribz:telex" minOccurs="0"/>
				<xs:element ref="ribz:telefax" minOccurs="0"/>
				<xs:element ref="ribz:sede-fuori-provincia" minOccurs="0"/>
				<xs:element ref="ribz:sede-secondaria-rs" minOccurs="0"/>
				<xs:element ref="ribz:impresa-subentrata" minOccurs="0"/>
				<xs:element ref="ribz:attivita-esercitata" minOccurs="0"/>
				<xs:element ref="ribz:attivita-secondaria-esercitata" minOccurs="0"/>
				<xs:element ref="ribz:attivita-aa-bz" minOccurs="0"/>
				<xs:element ref="ribz:classificazioni-ateco-2002" minOccurs="0"/>
				<xs:element ref="ribz:classificazioni-ateco" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ribz:albi-ruoli-licenze" minOccurs="0"/>
				<xs:element ref="ribz:persone" minOccurs="0"/>
				<xs:element ref="ribz:informazioni-supplementari" minOccurs="0"/>
				<xs:element ref="ribz:trasferimento-localizzazione" minOccurs="0"/>
				<xs:element ref="ribz:impresa-subentrante" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="progressivo" type="xs:string"/>
			<xs:attribute name="f-dati-ridotti" type="xs:string"/>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-tipo-iscrizione" type="xs:string"/>
			<xs:attribute name="tipo-iscrizione" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="insegna" type="xs:string"/>
			<xs:attribute name="dt-apertura" type="xs:string"/>
			<xs:attribute name="f-cessazione" type="xs:string"/>
			<xs:attribute name="f-scritture-contabili" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="localizzazioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:localizzazione" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="macchinari">
		<xs:complexType>
			<xs:attribute name="caratteristica-1" type="xs:string"/>
			<xs:attribute name="caratteristica-2" type="xs:string"/>
			<xs:attribute name="caratteristica-3" type="xs:string"/>
			<xs:attribute name="caratteristica-4" type="xs:string"/>
			<xs:attribute name="f-apparecchi-pulitura" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mad">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:sessioni-rd-rea" minOccurs="0"/>
				<xs:element ref="ribz:sessioni-aa" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mestiere-aa">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
					<xs:attribute name="descrizione" type="xs:string"/>
					<xs:attribute name="ulteriore-descrizione" type="xs:string"/>
					<xs:attribute name="dt-inizio-attivita" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mestieri-aa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:mestiere-aa" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modifica">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-modifica" type="xs:string"/>
					<xs:attribute name="c-tipo" type="xs:string"/>
					<xs:attribute name="tipo" type="xs:string"/>
					<xs:attribute name="dt-effetto" type="xs:string"/>
					<xs:attribute name="c-modifica" type="xs:string"/>
					<xs:attribute name="descrizione-c-modifica" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="modifiche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:modifica" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="molini">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:potenze-cereali-macchinari" minOccurs="0"/>
				<xs:element ref="ribz:stoccaggio" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="categoria" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="molini-panificatori">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:panificatori" minOccurs="0"/>
				<xs:element ref="ribz:molini" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="conduzione" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="dt-inizio-rapporto" type="xs:string"/>
			<xs:attribute name="dt-fine-rapporto" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="note" type="xs:string"/>
	<xs:element name="notizie-storiche" type="xs:string"/>
		<xs:element name="oggetto-sociale">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>		    
		</xs:complexType>
	</xs:element>
	
	<xs:element name="panificatori">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:caratteristiche-impianto-1" minOccurs="0"/>
				<xs:element ref="ribz:caratteristiche-impianto-2" minOccurs="0"/>
				<xs:element ref="ribz:apparecchi" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="partita-iva">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="it" type="xs:string" minOccurs="0"/>	
				<xs:element name="de" type="xs:string" minOccurs="0"/>					
			</xs:sequence>		    
		</xs:complexType>
	</xs:element>

	<xs:element name="persona">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:persona-fisica" minOccurs="0"/>
				<xs:element ref="ribz:persona-giuridica" minOccurs="0"/>
				<xs:element ref="ribz:indirizzo-posta-certificata" minOccurs="0"/>
				<xs:element ref="ribz:indirizzo" minOccurs="0"/>
				<xs:element ref="ribz:telefono" minOccurs="0"/>
				<xs:element ref="ribz:telefax" minOccurs="0"/>
				<xs:element ref="ribz:quota" minOccurs="0"/>
				<xs:element ref="ribz:atti-conferimento-cariche" minOccurs="0"/>
				<xs:element ref="ribz:fallimento" minOccurs="0"/>
				<xs:element ref="ribz:abilitazioni-impiantisti" minOccurs="0"/>
				<xs:element ref="ribz:ruoli-persona" minOccurs="0"/>
				<xs:element ref="ribz:licenze" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="progressivo" type="xs:string"/>
			<xs:attribute name="f-rappresentante-rea" type="xs:string"/>
			<xs:attribute name="f-rappresentante-ri" type="xs:string"/>
			<xs:attribute name="f-amministratore" type="xs:string"/>
			<xs:attribute name="f-sindaco" type="xs:string"/>
			<xs:attribute name="f-elettore" type="xs:string"/>
			<xs:attribute name="tipo-modifica" type="xs:string"/>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="f-firma-depositata" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persona-fisica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:estremi-nascita" minOccurs="0"/>
				<xs:element ref="ribz:domicilio-fiscale" minOccurs="0"/>
				<xs:element ref="ribz:titoli-onorifici" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="sesso" type="xs:string"/>
			<xs:attribute name="c-cittadinanza" type="xs:string"/>
			<xs:attribute name="cittadinanza" type="xs:string"/>
			<xs:attribute name="c-capacita-di-agire" type="xs:string"/>
			<xs:attribute name="capacita-di-agire" type="xs:string"/>
			<xs:attribute name="c-titolo-studio" type="xs:string"/>
			<xs:attribute name="titolo-studio" type="xs:string"/>
			<xs:attribute name="c-precedente-occupazione" type="xs:string"/>
			<xs:attribute name="precedente-occupazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persona-giuridica">
		<xs:complexType>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="dt-costituzione" type="xs:string"/>
			<xs:attribute name="c-stato-costituzione" type="xs:string"/>
			<xs:attribute name="stato-costituzione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persona-giuridica-privata">
		<xs:complexType>
			<xs:attribute name="registro" type="xs:string"/>
			<xs:attribute name="ente" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="f-accertamento-requisiti" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:persona" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="persone-sede">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:persona" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="potenza-cereali-macchinari">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:macchinari" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="quintali-potenza-nominale" type="xs:string"/>
			<xs:attribute name="quintali-potenza-reale" type="xs:string"/>
			<xs:attribute name="tipo-cereale" type="xs:string"/>
			<xs:attribute name="altro-tipo-cereale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="potenze-cereali-macchinari">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:potenza-cereali-macchinari" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="poteri-congiunti" type="xs:string"/>
	<xs:element name="procedura-concorsuale">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:estremi-atto" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="dt-iscrizione-procedura" type="xs:string"/>
			<xs:attribute name="dt-provvedimento" type="xs:string"/>
			<xs:attribute name="dt-atto" type="xs:string"/>
			<xs:attribute name="dt-termine" type="xs:string"/>
			<xs:attribute name="dt-omologazione" type="xs:string"/>
			<xs:attribute name="dt-chiusura" type="xs:string"/>
			<xs:attribute name="dt-esecuzione" type="xs:string"/>
			<xs:attribute name="dt-revoca" type="xs:string"/>
			<xs:attribute name="dt-udienza" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="procedure-concorsuali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:procedura-concorsuale" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ribz:accordi-debiti" minOccurs="0"/>
				<xs:element ref="ribz:rapporto-curatore" minOccurs="0"/>
				<xs:element ref="ribz:appelli-reclami" minOccurs="0"/>
				<xs:element ref="ribz:proposta-concordato" minOccurs="0"/>
				<xs:element ref="ribz:esercizio-provvisorio" minOccurs="0"/>
				<xs:element ref="ribz:continuazione-esercizio-provv" minOccurs="0"/>
				<xs:element ref="ribz:cessazione-esercizio-provv" minOccurs="0"/>
				<xs:element ref="ribz:esecuzione-concordato" minOccurs="0"/>
				<xs:element ref="ribz:annotazioni-procedure" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="f-presenza-info" type="xs:string"/>
			<xs:attribute name="cciaa-fuori-provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="proposta-concordato" type="xs:string"/>
	<xs:element name="proprieta-quota">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-proprieta" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="provenienza-trasferimento">
		<xs:complexType>
			<xs:attribute name="dt-trasferimento" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="quota">
		<xs:complexType>
			<xs:attribute name="c-valuta" type="xs:string"/>
			<xs:attribute name="valuta" type="xs:string"/>
			<xs:attribute name="valore" type="xs:string"/>
			<xs:attribute name="ammontare-convertito-in-euro" type="xs:string"/>
			<xs:attribute name="percentuale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rapporto-curatore" type="xs:string"/>
	<xs:element name="requisiti-morali-professionali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:requisito-morale-professionale" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requisito-morale-professionale">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="c-ente" type="xs:string"/>
			<xs:attribute name="ente" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
			<xs:attribute name="dt-accertamento" type="xs:string"/>
			<xs:attribute name="dt-decadenza" type="xs:string"/>
			<xs:attribute name="ulteriori-specifiche" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="riconoscimenti-professionali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:riconoscimento-professionale" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="riconoscimento-professionale">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="dt-provvedimento" type="xs:string"/>
					<xs:attribute name="n-iscrizione" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruoli">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:ruolo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruoli-persona">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:ruolo-persona" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruolo">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ribz:cancellazione-ruolo"/>
			</xs:choice>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="c-qualifica" type="xs:string"/>
			<xs:attribute name="qualifica" type="xs:string"/>
			<xs:attribute name="c-forma" type="xs:string"/>
			<xs:attribute name="forma" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruolo-persona">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="c-qualifica" type="xs:string"/>
			<xs:attribute name="qualifica" type="xs:string"/>
			<xs:attribute name="c-forma" type="xs:string"/>
			<xs:attribute name="forma" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sede-fuori-provincia">
		<xs:complexType>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sede-secondaria-rs">
		<xs:complexType>
			<xs:attribute name="n-sede-secondaria" type="xs:string"/>
			<xs:attribute name="c-comune-tribunale" type="xs:string"/>
			<xs:attribute name="comune-tribunale" type="xs:string"/>
			<xs:attribute name="provincia-tribunale" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sessione-aa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:modifiche" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="c-movimentazione" type="xs:string"/>
			<xs:attribute name="movimentazione" type="xs:string"/>
			<xs:attribute name="dt-delibera" type="xs:string"/>
			<xs:attribute name="dt-domanda-accertamento" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sessione-rd-rea">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:modifiche"/>
			</xs:sequence>
			<xs:attribute name="c-movimentazione" type="xs:string"/>
			<xs:attribute name="movimentazione" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sessioni-aa">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ribz:sessione-aa"/>
			</xs:choice>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sessioni-rd-rea">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:sessione-rd-rea" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="settore-attivita">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="settori-attivita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:settore-attivita" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sezione">
		<xs:complexType>
			<xs:attribute name="c" type="xs:string"/>
			<xs:attribute name="descrizione" type="xs:string"/>
			<xs:attribute name="descrizione-it" type="xs:string"/>
			<xs:attribute name="descrizione-de" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="f-coltivatore-diretto" type="xs:string"/>
			<xs:attribute name="cciaa-aa" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
			<xs:attribute name="f-attesa-decisione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sezioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:sezione" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="societa-cooperativa">
		<xs:complexType>
			<xs:attribute name="dt-presentazione" type="xs:string"/>
			<xs:attribute name="n-iscrizione" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-sezione" type="xs:string"/>
			<xs:attribute name="sezione" type="xs:string"/>
			<xs:attribute name="c-sotto-sezione" type="xs:string"/>
			<xs:attribute name="sotto-sezione" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="c-categoria-attivita-eserc" type="xs:string"/>
			<xs:attribute name="categoria-attivita-esercitata" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sotto-tipi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:sotto-tipo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sotto-tipo">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stoccaggio">
		<xs:complexType>
			<xs:attribute name="magazzini" type="xs:string"/>
			<xs:attribute name="silos" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="storia-addetti">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:addetti-impresa" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="storia-attivita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:classificazioni-ateco-2002" minOccurs="0"/>
				<xs:element ref="ribz:classificazioni-ateco" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tabelle-speciali">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="f-farmacia" type="xs:string"/>
					<xs:attribute name="f-vendita-generi-monopolio" type="xs:string"/>
					<xs:attribute name="f-vendita-carburanti" type="xs:string"/>
					<xs:attribute name="mq" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="titoli-onorifici">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:titolo-onorifico" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="titolo-onorifico">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-altro-registro">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-localizzazione">
		<xs:complexType>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-sede">
		<xs:complexType>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-sede-ul-attiva">
		<xs:complexType>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="valori-medi">
		<xs:complexType>
			<xs:attribute name="valore-medio-dipendenti" type="xs:string"/>
			<xs:attribute name="valore-medio-indipendenti" type="xs:string"/>
			<xs:attribute name="valore-medio-totale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="variazione-forma-giuridica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:estremi-atto" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="p-variazione" type="xs:string"/>
			<xs:attribute name="c-old" type="xs:string"/>
			<xs:attribute name="old" type="xs:string"/>
			<xs:attribute name="c-new" type="xs:string"/>
			<xs:attribute name="new" type="xs:string"/>
			<xs:attribute name="dt-atto" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="variazioni-forma-giuridica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ribz:variazione-forma-giuridica" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>





